#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#main {
  width: 900px;
  height: 450px;
  object-fit: cover;
}

#timeline > img {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

.active {
  border: 2px solid;
}
